.main-grid{
    display: flex;
    /* display: grid; */
    /* grid-template-columns: auto; */
    gap: 1em;
    justify-items: center;
    flex-direction: column;
  }
  @media screen and (min-width: 580px){
    .main-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      
    }
    .main-grid img{
      grid-template-columns: 1fr;
    }
  }
  @media screen and (min-width: 800px){
    .main-grid{
      flex-direction: row;
    }
  }
  header{
      text-align: center;
      background-color: navy;
      color: oldlace;
  }
  section{
      background-color: silver;
  }