header{
    display: flex;
    flex-direction: column;
    background-color: #3A3634;
    color: #C2AE9F;
}
header h1{
    align-self: center;
}
header img{
    max-width: 400px;
    max-height: auto;
    align-self: center;
}
header nav{
    align-self: center;
}
Header nav ul{
    list-style-type: none;
}
footer{
    background-color: #3A3634;
    color: #C2AE9F;
}
.main{
    background-color: darkgray;
}